<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>blog.8-p.info</title>
  </head>
  <body>
    <div id="container">
      <h1>blog.8-p.info</h1>
      <p>
        blog.8-p.info was the domain I had been using before.
        Then I ended up having
        <a href="http://2012.8-p.info/">2012.8-p.info</a>,
        <a href="http://2013.8-p.info/">2013.8-p.info</a>, and
        <a href="http://2014.8-p.info/">2014.8-p.info</a>, ...
      </p>

      <% years.keys.sort.reverse.each do |year|; articles = years[year].sort %>
      <h2><%= year %></h2>
      <ul>
        <% articles.each do |article| %>
        <li><a href="<%= article.path %>"><%= article.title %></a></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </body>
</html>
