* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;

    font-family: "Helvetica Neue", "Arial", sans-serif;

    line-height: 1;
    margin: 0;
    padding: 0;

    color: #555;
}

header {
    border-bottom: 1px solid #ccc;
}

footer {
    border-top: 1px solid #ccc;
    padding: 1rem;

}

header .content {
    padding: 1rem;
}

h1 {
    font-size: 100%;
}

p {
    margin: 1rem;
    line-height: 1.5;
}

h2 {
    margin: 2rem 1rem 1rem 1rem;
    padding: 0;
}

h1,
h2,
strong {
    color: #333;
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

ul {
    margin: 1rem;
    padding: 0;
    text-indent: 0;
    list-style: circle;
    line-height: 2;
}

li {
    margin: 0;
    display: flex;
}

ul li::before {
    content: "\2022";
    color: #ccc;
    padding-right: 1rem;
}

ul li.lang-ja::before {
    color: #f66;
}

li span {
    flex-shrink: 0;
    margin-right: 1rem;
}

.year svg {
    margin: 0 auto;
    display: block;
}
