/* colors are from http://clrs.cc/ */

@import 'normalize.css';

body {
    background: #fff;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
}

a:link {
    color: #0074D9;
}
a:visited {
    color: #85144b;
}
a:hover {
    color: #FF851B;
}
a:active {
    color: #FF851B;
}

h1, h2 {
    font-size: 1rem;
    padding: 0 0 1rem 0;
    margin: 0;
}

h1 {
    float: left;
    font-weight: normal;
}

h2 {
    float: right;
}

header {
    border-bottom: 1px solid #111;
    clear: both;
    overflow: hidden;
    margin: 1rem;
    padding: 0 .5rem;
}

#container {
    margin: 0 auto;
    padding: 0;
}

#about {
    font-size: 1rem;
    margin: 1rem;
    padding: 0 .5rem;
}

#about p {
    line-height: 1.5;
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.past {
    font-size: 90%;
    margin: 1rem;
    line-height: 2rem;
    padding: 0 .5rem;
}

.past a {
    text-decoration: none;
    color: #111 !important;
    position: relative;
    padding: 2px;
}

.past a:hover {
    border-bottom: .2rem solid #DDDDDD;
}

.past a.active {
    border-bottom: .2rem solid #111;
}

h1 a, #present a {
    text-decoration: none;
    color: #333 !important;
}

#posts {
    margin: 1rem;
    padding: 0;
}

#posts li {
    display: flex;
    padding: .1rem 0;
    margin: 0;
    line-height: 1.5rem;
}

@media (min-width: 640px) {
    #posts li {
        line-height: 2rem;
    }    
}

#posts li .published {
    min-width: 4rem;
    margin: auto 0;
}

#posts li:before {
    content: "";
    border-radius: 50%;
    border: .5rem solid #111;
    width: 0;
    height: 0;
    margin: auto 1rem auto 0;
}

/* brewer RdBu */
#posts li.ja:before {
    border-color: #FF4136;
}

#posts li.en:before {
    border-color: #FFDC00;
}

.published {
    color: #aaa;
    font-family: Monaco, monospace;
    font-size: 70%;
}

.past li {
    display: inline;
    margin-right: 1rem;
}
