@import 'normalize.css';

body {
    background: #fff;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
}

/* back to basics */
a:link {
    color: #009;
}
a:visited {
    color: #606;
}
a:hover {
    color: #00f;
}
a:active {
    color: #00f;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0;
    padding: 0;
}

h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header .content, #container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 640px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .row .column {
        flex: 1;
    }
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

#present a, #legend a {
    text-decoration: none;
    color: #333 !important;
}

#present {
    position: relative;
}

#present li {
    display: flex;
}
#present .published {
    width: 5rem;
}

li {
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

li.japanese {
    border-left: 2px solid #c00;
    padding-left: 1rem;
}

li.english {
    border-left: 2px solid #00c;
    padding-left: 1rem;
}

.published {
    color: #999;
    font-family: Monaco, monospace;
    font-size: 70%;
}

#about {
    font-size: 90%;
}

#past ul {
    margin: 1rem 0;
    padding: 0;
}

#past li {
    display: inline;
    margin-right: 1rem;
}