@import 'normalize.css';

body {
    background: #fff;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
}

/* back to basics */
a:link {
    color: #009;
}
a:visited {
    color: #606;
}
a:hover {
    color: #00f;
}
a:active {
    color: #00f;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem;
}

h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header .content, #container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
}

#about {
    font-size: 90%;
    margin: 1rem;
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.past {
    font-size: 90%;
    margin: 1rem;
    line-height: 2rem;
}

h1 a, #present a {
    text-decoration: none;
    color: #333 !important;
}

#present li {
    display: flex;
}
#present li .published {
    min-width: 4rem;
}

li {
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

li.ja {
    border-left: .2rem solid #c00;
    padding-left: .8rem;
}

li.en {
    border-left: .2rem solid #00c;
    padding-left: .8rem;
}

.published {
    color: #999;
    font-family: Monaco, monospace;
    font-size: 70%;
}

.past li {
    display: inline;
    margin-right: 1rem;
}
