body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 1em;
}

#container {
    max-width: 40em;
    margin: 0 auto;
}

#container p {
    font-size: 120%;
}

ul {
    line-height: 1.5;
}

.year-2009 {
    word-break: break-all;
}
