body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 1em;
}

h1, h2 {
    font-size: 100%;
}

ul {
    line-height: 1.5;
}

.year-2008 {
    word-break: break-all;
}

#container {
    max-width: 40em;
    margin: 0 auto;
}

@media (min-width: 640px) {
    #present {
        display: flex;
        flex-direction: row;
    }

    #present .column {
        flex: 1;
    }
}

#previous {
    margin-top: 1em;
    border-top: 1px solid #000;
}

h2 {
    font-size: 100%;
    line-height: 2;
}
