/* http://clrs.cc/ */

body {
    background: #fff;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    border-bottom: 2px solid #f0f0f0;
}

a:link {
    color: #000;
    border-color: #f00;
}
a:visited {
    color: #000;
    border-color: #f0f0f0;
}
a:hover {
    color: #000;
    border-color: #f00;
}
a:active {
    color: #000;
    border-color: #000;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5;
}

header .content, #container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background: #f0f0f0;
    clear: both;
    float: none;
}

header .content {
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}

header a {
    border: none;
    display: block;
    padding: 1rem 0;
}

#menu {
}

#present {
    margin: 1rem 0;
}

#about {
    font-size: 4rem;
}

@media (min-width: 640px) {
    #present {
        display: flex;
        flex-direction: row;
    }

    #present .column {
        flex: 1;
    }
}

#previous {
    margin-top: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid #000;
}
